* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
}

main {
    display: flex;
}

.destination-list {
    width: 25%;
    height: 100vh;
    overflow: auto;
    background-color: rgb(239, 239, 239);
    border-right: 6px dashed black;
}

#map {
    height: 100vh;
    width: 75%;
}

.destination-list .heading {
    background-color: rgb(22, 22, 22);
    padding: 1rem;
    color: white;
}

.destination-list ul {
    padding: 0 1rem;
    list-style-type: none;
}

.destination-item {
    margin: 1rem 0;
    border-bottom: 1px solid rgb(177, 177, 177);
    padding-bottom: 1rem;
}

.destination-list li:last-child .destination-item {
    border: none;
}

.destination-item a {
    text-decoration: none;
    font-size: 20px;
    color: rgb(22, 22, 22);
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.destination-item p {
    font-size: 14px;
    color: rgb(22, 22, 22);
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.leaflet-popup-content-wrapper {
    all: unset;
}

..leaflet-popup-content {
    all: unset;
}

.popupCustomContent {
    padding: 20px;
    width: 400px !important;
    background-color: rgb(17, 17, 17);
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    font-family: 'Poppins', sans-serif;
}

.popupCustomContent img {
    width: 350px;
    height: 200px;
    object-fit: cover;
    border-radius: 7px;
}

.popupCustomContent h2 {
    margin-bottom: 10px;
    color: white;
}

.popupCustomContent p {
    font-size: 14px;
    text-align: left;
    color: white;
}

.elevation {
    padding: 5px 10px;
    background-color: rgb(0, 181, 88);
    border-radius: 5px;
    color: rgb(255, 255, 255);
}

.badges {
    display: flex;
    gap: 7px;
}

.badges b:last-child {
    background-color: rgb(255, 213, 0);
    color: rgb(0, 0, 0);
}

.right-arrow {
    width: 20px;
}

@media all and (max-width: 800px) {
    main {
        display: flex;
        flex-direction: column-reverse;
    }

    #map {
        width: 100%;
    }

    .destination-list {
        width: 100%;
        border-right: none;
    }

    .popupCustomContent {
        padding: 15px;
        width: 300px !important;
    }

    .popupCustomContent img {
        width: 250px;
        height: 180px;
    }

    .popupCustomContent h2 {
        font-size: 16px;
    }

    .popupCustomContent p {
        font-size: 13px;
    }

    .badges {
        font-size: 12px;
    }
}